.even {
  background-color: #e6e6e0;
}

.odd {
  background-color: #f6f6f0;
}

.arrow {
  height: 15px;
  margin-bottom: 3px;
  background: url(/arrow.gif) no-repeat;
  cursor: pointer;
}

.byText {
  color: #b8b8b8;
}

.domainText {
  color: #828282;
}
